on init
    mount none /dev/null /vendor/bin/cnss_diag bind
    mount none /dev/null /vendor/bin/ipacm-diag bind
    mount none /sbin/chargeonlymode /sbin/charger bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/hw/power.qcom.so /vendor/lib/hw/power.qcom.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind

on boot
    chown system system /proc/touchpanel/wake_gesture
    chmod 0660 /proc/touchpanel/wake_gesture

    # Sweep2Sleep permissions
    chown system system /sys/sweep2sleep/vib_strength
    chown system system /sys/sweep2sleep/sweep2sleep

    # KCAL permissions
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    
    # Vibrator permissions
    chown root system /sys/class/timed_output/vibrator/vtg_level
    chmod 0660 /sys/class/timed_output/vibrator/vtg_level

service vendor.ss_ramdump_local /vendor/bin/subsystem_ramdump
    class late_start
    user system
    group system
    disabled

on property:persist.vendor.sys.ssr.enable_ramdumps=1
    start vendor.ss_ramdump_local

on property:persist.vendor.sys.ssr.enable_ramdumps=0
    stop vendor.ss_ramdump
    stop vendor.ss_ramdump_local

on property:sys.boot_completed=1
    stop vendor.ipacm-diag
    stop vendor.ss_ramdump
